/* Oxygen */

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Oxygen Mono */

@font-face {
    font-family: 'Oxygen Mono';
    src: url('../fonts/Oxygen_Mono/OxygenMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
